@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏原生滚动条，但保留滚动功能 */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}